body {
  font-family: sans-serif;
  max-width: max-content;
  margin: auto;
}

#network {
  /* background-color: aliceblue; */
}

.diagrams {
  display: flex;
}

.right {
  margin-top: 80px;
}

#priceSvg {
  margin-bottom: 30px;
}